<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="The Underland Blog">
  <meta name="keywords" content="Events,Developer,Hackathon,Hack,Day,Conference,Conferences,Dev,Design,UK,London,Birmingham,Consultancy,Agency,Team,Studio,Developer,Development,JavaScript,Python,Serverless,App,Website,Application,Blog,Post,Writing">

  <meta property="og:title" content="Through the Looking Glass - The Underland Blog" />
  <meta property="og:image" content="https://blog.underland.xyz/assets/og.png" />
  <meta property="og:description" content="The Underland Blog" />

  <title>Through the Looking Glass - The Underland Blog</title>

  <link rel="shortcut icon" type="image/png" href="/assets/favicon.png"/> 
  <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico" /> 
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/style.css">
  <link rel="stylesheet" href="/assets/res.css" media="(max-width: 800px)">
</head>
<body>
  <div id="top">
    <div class="w">
      <p>Get in touch! We're friendly.</p>
      <a href="https://twitter.com/underlandxyz" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://facebook.com/underlandxyz" target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="mailto:welcome@underland.xyz"><i class="fa fa-envelope"></i></a>
    </div>
  </div>
  
  {{ content }}

  <section id="footer">
    <div class="w">
      <h2>Get in touch</h2>
      <p>The best way to get in touch is to email us at <a href="mailto:welcome@underland.xyz">welcome@underland.xyz</a>. You can also phone us on <a href="tel:+447492886145">+44 7492 886145</a> or send us snail mail at Underland, Ministry of Startups, 38 Turner Street, Whitechapel, London, E1 2AS.</p>
      <p>Welcome to Underland Ltd is registered UK company 11288868. Our VAT number is GB314556119.</p>
    </div>
  </section>
</body>
</html>